/Animal.class
/BabyDogs.class
/Birds.class
/Doctors.class
/Dogs.class
/FlyingBirds.class
/HierarchicalInheritance.class
/MultilevelInheritance.class
/NonFlyingbirds.class
/SingleInheritance.class
/Speciality.class
