/A.class
/ConstructorReference.class
/Student.class
/Calculations.class
/Hello.class
/MethodReference1.class
/Add.class
/Calculate.class
/Calculate1.class
/CalculationUtil.class
/CalculationUtils.class
/LargeNumber.class
/MethodReference2.class
/MethodReference3.class
/MethodReference5.class
/Sub.class
/StreamDemo3.class
/StreamDemo4.class
/AgeComparator.class
/StreamSortDemo.class
/Employee.class
